@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Rubik:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');


:root {
  --option-height: 80px;
  --b-r-t: 5px;
	--main-color: #ff0000;
	--main-border-color: #ff7a00;
	--sec-color: #ffffff;
	--color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "Quicksand", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23f2f2f2' fill-opacity='1'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.shadow {
  -webkit-filter: drop-shadow(5px 5px 2px #ffffff);
  filter: drop-shadow(5px 5px 2px #ffffff);
}

.navBarWrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(221, 221, 211, 0.3);
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  align-items: center;
  z-index: 999;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.logoIcon {
  height: 80px;
  padding: 10px 0;
}

.logo {
  padding: 2px 5px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

.navLink li {
  list-style: none;
  padding: 15px;
  cursor: pointer;
}

.navLink li a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
  text-align: center;

  font-size: 0.95em;
  color: #000;
}

.link::after {
  content: "";
  display: block;
  width: 0;
  transition: width 0.5s;
  height: 3px;
  background: #edce8c;
}

.link:hover::after {
  width: 100%;
  transition: width 0.5s;
}

.menuIcon {
  display: none;
}

.navLink {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
}

.menuIconWrapper {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navLink li.active,
  .navLink li:hover {
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.1);
  }

  .menuIconWrapper {
    display: block;
    height: 40px;
    padding: 3px 0;
    cursor: pointer;
  }

  .navLink {
    position: absolute;
    top: var(--option-height);
    left: 0;
    width: 100%;
    height: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;

    background: #dededea6;
    transition: height 0.3s linear;
  }

  .showMe {
    /*height: calc(3 * var(--option-height));*/
    /*cada elemento es 50px*/
    height: 100vh;
  }

  .link::after,
  .link:hover::after {
    display: none;
  }

  .menuIconWrapper {
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0 5px 0 0;
  }

  #menuIconWrapper::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    background: black;
    transform: translateY(-10px);
    transition: 0.2s;
    box-shadow: 0 10px 0 #000;
  }

  #menuIconWrapper.active::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 #000;
  }

  #menuIconWrapper::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    background: black;
    transform: translateY(10px);
    transition: 0.2s;
  }

  #menuIconWrapper.active::after {
    transform: translateY(0px) rotate(-45deg);
  }
}

.section {
  min-height: 500px;
}

.section--yellow {
  background: rgba(0, 0, 0, 0.548);
  -webkit-transform: skew(0deg, -200deg);
  transform: skew(0deg, -200deg);
  padding: 200px 0;
  margin-top: -310px;
  z-index: -1;
}

.section--yellow .div-section-yellow {
  -webkit-transform: skew(0deg, -160deg);
  transform: skew(0deg, -160deg);
  text-align: left;
  margin-left: 20px;
  color: #fff;
  position: fixed;
  bottom: 40%;
  filter: blur(3px);
}

.text-sobre {
  font-size: xx-large;
  text-shadow: 0px 0px 5px rgb(167, 167, 167);
}

.typewriter h1 {
  font-size: 50px;
  color: rgb(255, 255, 255);
  overflow: hidden; 
  border-right: 0.15em solid #edce8c; 
  white-space: nowrap;
  margin: 0 auto; 
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
  text-align: center;
  z-index: 99;
  margin-top: 200px;
  font-family: 'Rubik', sans-serif;
  text-shadow: 0px 0px 5px rgb(75, 75, 75);
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(0, 0, 0);
  }
}

.text-chama {
  font-size: 60px;
  text-shadow: 0px 0px 5px rgb(167, 167, 167);
}

.section--black::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: url('./assets/marketing.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 60px;
  filter: blur(3px);
  z-index: -2;
}

.section--black {
  /* background: #ff7a00; */
  /* -webkit-transform: skew(0deg, -160deg); */
  /* transform: skew(0deg, -160deg); */
  /* background: url('./assets/marketing.jpg');
  filter: blur(8px); */
  padding: 200px 0;
  margin-top: 30px;
}

.section--black .div-section-black {
  /* -webkit-transform: skew(0deg, -200deg);
  transform: skew(0deg, -200deg); */
  text-align: center;
}

.section--white {
  padding: 200px 0;
  margin-top: 30px;
}

.section--white .div-section-white {
  text-align: center;
}

/* Quem somos */
.sobre-nos {
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
  /* box-shadow: 0 0 1em rgb(0, 0, 0); */
  z-index: 99;
}

.about-description {
  max-width: 90%;
}

.about-description h1 {
  font-weight: bold;
  font-size: 3rem;
  color: rgb(37, 37, 37);
  margin: 16px 0;
  /* font-family: 'Roboto', sans-serif; */
}

.about-description h3 {
  font-size: 1.75rem;
  margin: 16px 0;
}

.about-description p {
  font-size: 1.5rem;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
}

.partners h3 {
  margin: 8px 0;
  text-align: center;
}

.partners-card {
  background-color: #ffffffb6;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  height: 350px;
  max-width: 80%;
  margin: 0 auto;
  transition: 0.2s;
}


.partner-title {
  font-weight: bold;
  font-size: 1.75rem;
  text-align: center;
  margin-top: 8px;
  font-family: 'Source Sans Pro', sans-serif;
}

.partners-card i img {
  width: 250px;
  transition: 0.2s;
}
.tray {
  width: 145px !important; 
  margin-top: -35px;
}

.partners-card i img:hover {
  transform: scale(103.5%);
}

.text-sobre-nos {
  text-align: center;
  justify-content: center;
}

.about-footer {
  font-size: 1.25rem;
  margin: 24px 0;
  grid-column: 1 / 3;
}

/* Service Cards */

.services-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin: 0 auto;
  max-width: 80%;
}

.logo-social-media img {
  height: 20px;
  width: 20px;
  margin-left: 5px;
}

.card {
  max-width: 100%;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  cursor: pointer;
  padding-bottom: 115px;
  position: relative;
}


.logo-medal img {
  width: 96px;
  position: relative;
  top: -50px;
  border-radius: 100px;
  box-shadow: 0px 3px 6px #00000029;
}

.logo-icon img {
  width: 70px;
  position: relative;
  top: -40px;
  box-shadow: 0px 3px 6px #00000029;
  padding: 10px;
}

#section3 {
  margin-top: 10px;
}

.icon-card {
  background-color: #ffffff;
}

.card-jobs-description {
  max-width: 100%;
  border-radius: 5px;
  cursor: pointer;
  padding: 20px;
  position: relative;
  background-color: #ffffffb6;
  transition: 0.2s;
}

.card-jobs-description:hover {
  transform: scale(105%);
}

.medal-bronze {
  border: 5px solid #deb887;
  background-color: #deb887;
}

.medal-silver {
  border: 5px solid silver;
  background-color: silver;
}

.medal-gold {
  border: 5px solid gold;
  background-color: gold;
}

.card-bronze {
  border: 5px solid burlywood;
  background-color: rgb(255, 255, 255);
  transition: 0.2s;
}

.card-bronze:hover {
  transform: scale(105%);
}

.card-silver {
  border: 5px solid silver;
  background-color: rgb(255, 255, 255);
  transition: 0.2s;
}

.card-silver:hover {
  transform: scale(105%);
}

.card-gold {
  border: 5px solid gold;
  background-color: rgb(255, 255, 255);
  transition: 0.2s;
}

.card-gold:hover {
  transform: scale(105%);
}

.card h1 {
  margin: 0 0 16px;
  color: #000;
}

.card-description p {
  font-size: 1.25rem;
  margin: 5px 0;
}

.check-icon img {
  height: 12px;
  margin-right: 5px;
}

.sale {
  color: green;
  font-size: 1.75rem;
  font-weight: bold;
}

.card-footer {
  position: absolute;
  bottom: 24px;
  width: 100%;
}

hr {
  width: 60%;
  margin: 20px auto;
  background-color: #000;
  border-radius: 50px;
  height: 3px;
}

.at-about-fab {
  z-index: 999999;
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.at-about-fab:before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: -58px;
  width: 58px;
  height: 48px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.at-about-fab:hover {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.at-about-fab:hover .at-about-fab__meta {
  opacity: 1;
}
.at-about-fab__thumbnail {
  position: absolute;
  top: 50%;
  left: -58px;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  padding: 4px;
  box-sizing: border-box;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden;
  cursor: pointer;
}
.at-about-fab__thumbnail img {
  display: block;
  width: 85%;
}
.at-about-fab__meta {
  opacity: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.at-about-fab__meta h2,
.at-about-fab__meta p {
  margin: 0;
  padding: 0;
}
.at-about-fab__meta h2 {
  color: #888888;
  font-size: 14px;
}
.at-about-fab__meta p {
  color: #888888;
  font-size: 12px;
}
.at-about-fab__meta a {
  color: inherit;
  text-decoration: none;
}

footer {
  margin-top: 10px;
  background-color: #f5f5f5;
}
.credits {
  text-align: center;
  color: rgb(141, 141, 141);
}

.link {
  color: black;
  text-decoration: none;
}

.logo-social-media {
  height: 20px;
}

.div-section-1 {
  display: flex;
  justify-content: space-around;
  color: black;
  text-align: center;
}
.img-center {
  width: 40%;
  margin-top: 175px;
  z-index: 99;
  position: relative;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
input,
select,
textarea {
  color: #5a5a5a;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 0 auto;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

h1 {
  color: #474544;
  font-size: 32px;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.email {
  float: right;
  width: 45%;
}

.conta {
  float: left;
  width: 15%;
}

.submit {
  float: right;
  width: 30%;
}

input[type="text"],
[type="email"],
select,
textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #474544;
  color: #474544;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type="text"]:focus,
[type="email"]:focus,
textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}

.message {
  float: none;
}

.name {
  float: left;
  width: 45%;
}

select {
  background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png")
    no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
  color: #474544;
}

:-moz-placeholder {
  color: #474544;
  opacity: 1;
}

::-moz-placeholder {
  color: #474544;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #f2f3eb;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }

  .underline {
    width: 68px;
  }

  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }

  .icon {
    height: 35px;
    width: 35px;
  }

  .underline {
    width: 53px;
  }

  input[type="text"],
  [type="email"],
  select,
  textarea {
    font-size: 0.875em;
  }
}

.background {
  position: relative;
}

.background:before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url('./assets/bg-card.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
}

.timeline {
	padding: 75px 0 105px;
	position: relative;
  margin-top: -10px;
}

.timeline::after,
.timeline::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 30px;
	height: 100px;
	background-color: var(--main-border-color);
	z-index: 99;
}

.timeline::after {
	top: 5px;
	border-top-left-radius: var(--b-r-t);
	border-top-right-radius: var(--b-r-t);
	border-bottom-right-radius: var(--b-r-t);
}

.timeline::before {
	border-radius: var(--b-r-t);
	top: auto;
	bottom: 5px;
}

.timeline--item {
	min-height: 125px;
	position: relative;
	z-index: 9;
}

.timeline--item::before {
	content: '';
	height: 100px;
	width: 100px;
	border: 30px solid var(--main-border-color);
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%) rotate(-45deg);
	border-radius: 50%;
	z-index: 99;
	border-right-color: transparent;
	border-bottom-color: transparent;
}

.timeline > .timeline--item:nth-child(even) {
	margin-bottom: 10px;
}

.timeline > .timeline--item:nth-child(even)::before {
	transform: translateX(-50%) rotate(135deg);
	top: 5px;
}

.timeline--item > .timeline--item--title {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	/* background-color: var(--sec-color); */
	background-color: rgba(255, 255, 255, 0.400);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 999;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1),
		-5px -5px 5px rgba(255, 255, 255, 0.08);
}

.timeline > .timeline--item:nth-child(even) > .timeline--item--title {
	top: 45px;
	box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.1),
		5px 5px 5px rgba(255, 255, 255, 0.08);
}

.timeline--item--container {
	position: absolute;
	top: 40px;
	left: calc(50% + 90px);
	padding: 15px;
	/* background-color: var(--sec-color); */
  background-color: rgba(255, 255, 255, 0.377);
	border-radius: 3px;
	min-width: calc(50% - 110px);
	max-width: calc(50% - 110px);
}

.timeline > .timeline--item:nth-child(even) > .timeline--item--container {
	left: 15px;
}

.timeline--item--container h3 {
	margin-bottom: 15px;
}

.timeline--item--container p {
	line-height: 24px;
	opacity: 0.9;
}

.timeline--item--title {
	color: #3498db;
	font-size: 40px;
}

.timeline--item--title > span::before {
	font-weight: bold;
}

.timeline--item--title img{
  width: 60px;
  border-radius: 50%;
}

.service-cards-title {
  margin-bottom: 100px;
  font-weight: bold;
  text-align: center;
  justify-content: space-around;
  display: flex;
}

.service-cards-title-hr {
  background-color: #EDCE8C;
  box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.1),
  5px 5px 5px rgba(255, 255, 255, 0.08);
}

@media (max-width: 360px) {
  
  .typewriter {
    width: 100%;
  }

  .img-center {
  width: 30%;
  margin-top: 175px;
  z-index: 99;
  position: relative;
  }

  .services-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .submit {
    float: none;
  }

  .section--black::before {
    height: 80%;
    top: 0;
  }

  .typewriter h1 {
    font-size: 20px;
    max-width: 93%;
  }

}

@media (max-width: 900px) {
  .partners-card {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
  }

  .partners-card img {
    margin-top: 10px;
  }


  .typewriter img{
    display: none;
  }

  .img-center {
    width: 90%;
    margin-top: 32px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
  }

  .section {
    min-height: 45vh;
  }

  .div-section-1 {
    display: block;
  }

  .services-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .submit {
    float: none;
  }
  
  .section--black {
    padding: 0;
  }

  .section--yellow {
    display: none;
  }

  #section66 {
    display: none;
  }

  .typewriter h1 {
    font-size: 20px;
    max-width: 93%;
  }

  .section--black::before {
    height: 70%;
    top: 0;
  }
} 